.bar    
    .menu-icons 
        ul.ul-icon 
            li.li-icon
                img.toogleB(src="../img/settings.png"   data-bs-toggle="tooltip" data-bs-placement="right" title="Admin") 
            li.li-icon 
                a.a-icon(href="/cons"  data-bs-toggle="tooltip" data-bs-placement="right" title="Home") 
                    img(src="../img/house.png", alt="")
            li.li-icon 
                a.a-icon(href="/user/view"  data-bs-toggle="tooltip" data-bs-placement="right" title="Users") 
                    img(src="../img/team.png", alt="")
            li.li-icon 
                a.a-icon(href="/addUser"  data-bs-toggle="tooltip" data-bs-placement="right" title="Create User") 
                    img(src="../img/follow.png", alt="")
            li.li-icon 
                a.a-icon(href="/chart"  data-bs-toggle="tooltip" data-bs-placement="right" title="View chart") 
                    img(src="../img/bar-chart.png", alt="")
            li.li-icon 
                a.a-icon(href="/reproductionUser" data-bs-toggle="tooltip" data-bs-placement="right" title="Deletion User")
                    img(src="../img/return-user.png", alt="alt")
            li.li-icon 
                a.a-icon(href="/reproductionNote" data-bs-toggle="tooltip" data-bs-placement="right" title="Deletion Note")
                    img(src="../img/delete-document.png", alt="alt")
            li.li-icon 
                a.a-icon(href="/"  data-bs-toggle="tooltip" data-bs-placement="right" title="Exit") 
                    img(src="../img/power.png", alt="")
                    
    .menu-list
        ul.ul-text 
            li.li-text.li1
                a.a-text(href="/cons") Admin panel
            li.li-text 
                a.a-text(href="/cons") Home
            li.li-text 
                a.a-text(href="/user/view") Users
            li.li-text 
                a.a-text(href="/addUser") Add User
            li.li-text 
                a.a-text(href="/chart") Chart
            li.li-text 
                a.a-text(href="/reproductionUser") Reproduction User 
            li.li-text 
                a.a-text(href="/reproductionNote") Reproduction Note 
            li.li-text 
                a.a-text(href="/")  Exit