include links 
link(rel="stylesheet", href="/css/user.css")
body 
    button.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasRight' aria-controls='offcanvasRight') 
        i.fa-solid.fa-bars
    include offcanvas