.section
    if(noteFerma)
        include noteFerma
    if(userData)
      include userData
    if(createUser)
        include induction
    if(noteData) 
        include noteData
    if(chartData)
        include chart                      
    if(mutedUser)
        include mutedUser
    if(mutedNote)
        include mutedNote