include links 
link(rel="stylesheet", href="/css/adminView.css")
body    
    .container.mt-4
      button.menu-btn.btn(type='button' data-bs-toggle='offcanvas' data-bs-target='#demo') 
        ion-icon.menu(name="grid") 
      .fond(align='center')
        if(data)
          each db in data
            div.card
              .contener &nbsp;
              .contener_txt
                .name=db.username+" "+db.lastname
                .add 
                  small.text-secondary=db.email
                  br
                  small.text-secondary=db.login
                  a(href="/delete/user/"+db.id)  
                    i.fa-solid.fa-user-minus
    include offcanvas